#rb-nav a,
.rb-sub-menu a,
#rb-nav-side a { color:#555; display:block; text-decoration:none;
    transition: all 0.3s ease-out 0s;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }


/* NAV */

#rb-nav { background-color:#EEE; position:relative; }
    #rb-nav { display:flex; flex-wrap:wrap; padding-left:1rem; }
    #rb-nav a { border-bottom:3px solid #EEE; font-weight:bold; letter-spacing:1px;
        padding:1rem 1rem 0.8rem 1rem; }
    #rb-nav a.active { background-color:#EEE; border-bottom-color:#369; color:#369; }
    #rb-nav a:hover { background-color:#E5E5E5; border-bottom-color:#CCC; color:#777; }

.rb-sub-menu { background-color:#F9F9F9; display:flex; flex-wrap: wrap; margin:0.2rem 0; }
    .rb-sub-menu a { padding:0.6rem 1rem; }
    .rb-sub-menu a.active { background-color:#E5E5E5; }
    .rb-sub-menu a:hover { background-color:#E5E5E5; }
    .rb-sub-menu a.disabled { display:none; }


/* NAV SIDE */

#rb-nav-side { background-color:#F5F5F5; box-shadow:inset -10px 0px 10px -8px #AAA;
    overflow:hidden; padding-top:2rem; position:relative; width:250px;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
#rb-nav-side ul { list-style:none; margin:0; padding:0; }
#rb-nav-side ul ul { margin-left:1rem; }
#rb-nav-side ul a { margin-right:1rem; padding:0.8rem; }
#rb-nav-side ul a:hover,
#rb-nav-side ul a.on { background-color:#E5E5E5; }
#rb-nav-side .selected { background-color:#E0E0E0; font-weight:bold; }

div.rb-nav-side-reduced { width:3% !important; }


/* CONTENT */

#rb-expand { cursor:pointer; display:none; position:absolute; left:0.5rem; top:0.5rem; z-index:2; }
#rb-collapse { cursor:pointer; position:absolute; right:0.5rem; top:0.5rem; z-index:2; }
#up { position:fixed; bottom:1rem; right:1rem; z-index:9; }
.big-logo { background-color:#FFF; border-radius:3px; display:block; margin:1rem auto; padding:1rem; }


/* STATUS (a) */

a[class|=status] { background-color:#AAA; border-radius:3px; color:#FFF; font-size:0.8rem;
    padding:0.2rem 0.4rem; white-space:nowrap; }
a.status-0 { background-color:#F93; }
a.status-1 { background-color:#0A0; }
a.status-2,
a.status-3 { background-color:#A00; }
a:hover[class|=status] { background-color:#000; text-decoration:none; }


/* VERSION (a) */

.rb-filter #status-bar a.active, .rb-filter #status-bar a:hover { color:#FFF; }
.rb-filter a#published.active, .rb-filter a#published:hover { background-color:#0A0; }
.rb-filter a#pending.active, .rb-filter a#pending:hover { background-color:#F93; }
.rb-filter a#deleted.active, .rb-filter a#deleted:hover { background-color:#A00; }

a.publish, span.version-1 { background-color:#0A0; color:#FFF; text-decoration:none; }
a.delete, span.version-2 { background-color:#A00; color:#FFF; text-decoration:none; }
a.undelete, span.version-0 { background-color:#F93; color:#FFF; text-decoration:none; }
a:hover.publish,
a:hover.delete,
a:hover.undelete { background-color:#369; }


/* FORM */

.rb-form-item .mini { display:inline; width:50px; } /* crop coordinates */
.rb-form-item .mce-tinymce {
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.rb-form-item #delete,
.rb-form-item #button-replace { float:right; }

.input-media { position:relative; }
.input-media .input { cursor:no-drop; display:inline-block; }
.input-media .rb-btn { border-radius:0; bottom:0; margin:0; position:absolute; right:0; }

.rb-check-list { display:flex; flex-wrap:wrap; }


/* SEARCH */

#search-content,
#search-filter { margin-bottom:1rem; width:100%; }

#search-result a.option:nth-of-type(even) { background-color:#F5F5F5; }
#search-result a.option { border-bottom:1px solid #CCC; display:block; padding:0.4rem;  }
#search-result a.option:hover { }


/* INSTALL */

.body-install h2 img { position:absolute; right:0; top:0; }


/* SIGN IN */

.signin { background:url('/images/login.jpg') no-repeat; background-size:cover; height:100%; }
.signin body { background-color: rgba(0, 51, 102, 0.8); height:100%; position:absolute; width:100%; }

.rb-signin { margin:0 auto; width:20rem; }
.rb-signin label { color:#FFF; }
.rb-signin label.check:hover { background:transparent; }


/* INDEX */

ul.list-menu { list-style:none; padding:0; }
ul.list-menu li { border-bottom:1px solid #E5E5E5; line-height:2rem; overflow:auto; padding:0.4rem 0; }
ul.list-menu li span.list { color:#CCC; float:right; }
ul.list-menu li span.list a { border-left:1px solid #CCC; color:#777; font-size:0.9rem; margin-left:0.4rem; padding-left:0.4rem; }
ul.list-menu li span.list a:first-child { border-left:0 none; }
ul.list-menu i { vertical-align:middle; }

.changelog { color:#555; font-size: small; }


/* DROPZONE */

.dz-message { background-color:#F5F5F5; border:2px dashed #ACE; cursor:pointer;
    margin-bottom:1rem; padding:4rem 1rem; text-align:center; width: 100%; vertical-align:middle;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.dz-message:hover { border:2px dashed #369; }

.dz-preview { background-color:#FAFAFA; border:1px solid #F5F5F5; display:flex; flex-wrap: wrap; margin-bottom:1rem; }
.dz-preview .dz-image img { margin:0; }
.dz-preview > .dz-details { margin:0.6rem 0.8rem; width:150px; }
.dz-preview > .dz-remove { margin:1.5rem 0.6rem 0.2rem auto; }

.dz-preview .dz-details > div { margin:0.2rem 0; }
.dz-preview .dz-error-message { color:#A00; margin:1.5rem 0.6rem 0.2rem; }
.dz-preview .dz-success-mark,
.dz-preview .dz-error-mark { display:none; }

.dz-preview.dz-complete { background-color:#FFC; }
.dz-preview.dz-error { background-color:#FDD; }


/* PAGE */

table.gadget .display-order { width:3rem; }
table.gadget .custom-filter { width:6rem; }


/* CONTENT */

div.selector { color:#777; font-weight:bold; font-size:0.9em; overflow:auto; }
div.selector div { float:left; margin-right:20px; }
div.selector a { display:block; float:left; font-size:1em; margin-right:5px; padding:5px; }
.rb-filter #status-bar span { display:block; float:left; margin:5px 10px 0 0; }

span.time { color:#777; font-size:0.9em; font-weight:normal; }


/* MEDIA */

a.media-delete { color:#A00; }

#media-grid { overflow:auto; }
#media-grid .media { cursor:pointer; float:left; margin:0 0.5rem 0.5rem 0; position:relative; width:164px; }
#media-grid .action { background:#F5F5F5; border:2px solid #DDD; border-bottom:0 none;
    display:flex; font-size:0.9em; overflow:hidden; padding:0.2rem; }
#media-grid .title { flex-grow:1; line-height:1.8; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
#media-grid a.option { border-radius:3px; display:inline-block; flex-grow:0; padding:0.2rem; }
#media-grid a:hover.option { background-color:#DDD; }

#media-grid .view { border:2px solid #DDD; }
#media-grid .view:hover { border-color:#369; }

tr.media { cursor: pointer; }
tr.media:hover { background-color:#FFC; }

img.in-use { border:1px solid #CCC; }


/* TREE */

.tree i.icon { display:inline-block; font:normal normal normal 14px/1 FontAwesome; font-size:1.2rem;
  text-rendering:auto; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }

.tree .inactive,
.tree .inactive > a { color:#AAA !important; }

.tree .file > a > .icon:before { content:"\f016"; }
.tree .folder > a > .icon:before { content:"\f07b"; }
.tree .open > a > .icon:before { content:"\f07c"; }
.tree .home > a > .icon:before { content:"\f015"; }

.tree .do { color:#AAA; display:none; font-size:0.8em; margin-left:10px; }
.tree a:hover .do { display:inline; }


/* TOOLS - PHPINFO */

#phpinfo td.e { background-color:#F5F5F5; border-bottom:1px solid #E5E5E5; text-align:right; width:25%; }
#phpinfo td.v { border-bottom:1px solid #E5E5E5; text-align:left; }


/* CONFIG - LANG */

.lang-selector { margin-bottom:1rem; }
.lang-selector a { border:1px solid #EEE; display:inline-block; margin-right:0.4rem; padding:0.4rem 0.6rem; }
.lang-selector a.active { background-color:#EEE; color:#369; font-weight:bold; }


/* CONSTANT */

ul.constant { margin:0.8rem 0; }
ul.constant li { border-bottom:1px solid #E5E5E5; padding:0.8rem 0; }


/* DEV - CSS */

.CodeMirror { border:1px solid #CCC; margin-bottom:1rem; }


/* DEV - GENERATOR */

#rb-generator-response { background-color:#F5F5F5; box-shadow:0 3px 6px rgba(0, 0, 0, 0.2);
    margin:1rem 0; padding:1rem; }
#rb-generator-response h2 { color:#369; }
#rb-generator-response div { margin:0.4rem 0; }


/* DEV - BIN */

a.bin-delete { color:#A00; }


/* PROFILE - HELP */

.help a { display:block; font-size:1em; padding:4px 0; margin-top:15px; }
.help div { display:none; }

/* tablets */
@media all and (max-width: 64em) {
}

/* mobiles */
@media all and (max-width: 37.5em) {
    #rb-nav { flex-direction:column; padding:0; }
    .rb-nav-mobile { display:none !important; }

    .rb-sub-menu ul { margin:0 0 0 0.5rem; }

    #rb-nav-side { float:none; width:100%; }

    .rb-signin-left { display:none; }
    .rb-signin-right { float:none; width:auto; }
    #media-uploader-queue { width:auto; }
}
