/*! normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


/* COMMON */

html { font-size:14px; margin:0 1rem; }
body { color:#333; font-family:'Work Sans', Arial, sans-serif; font-size:13px; line-height:1.3; }

h1, h2, h3, h4, h5, h6 { color:#555; margin:0; position:relative; }
h1 { font-size:1.5rem; padding:0.8rem 1rem; }
h2 { border-bottom:2px solid #EEE; font-size:1.4rem; margin-bottom:0.8rem; padding:0.8rem 1rem; }
h3 { font-size:1.3rem; padding:0.6rem 1rem; }
h4 { font-size:1.2rem; padding:0.5rem 1rem; }
h5 { font-size:1.1rem; padding:0.4rem 1rem; }
h6 { font-size:1rem; padding:0.3rem 1rem; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color:#777; font-size:80%; font-weight:normal; margin-left:1rem; }

img { display:inline-block; height:auto; max-width:100%; vertical-align:middle; }

a { color:#369; text-decoration:none; }
a:hover { text-decoration:underline; }
a.active { background-color:#369; color:#FFF; }

a.highlight,
div.highlight,
label.highlight,
tr.highlight td { background-color:#FFC; }

ul, ol { line-height:1.4; padding-left:2rem; }


/* UTILITIES */

.text-error { color:#900; }
.status-error { border-left:5px solid #900; background-color:#FDD; color:#900; margin:1rem 0; padding:1rem; }

.text-success { color:#090; }
.status-success { border-left:5px solid #090; background-color:#DED; color:#090; margin:1rem 0; padding:1rem; }

.text-warning { color:#E60; }
.status-warning { border-left:5px solid #E60; background-color:#FDC; color:#E60; margin:1rem 0; padding:1rem; }

.text-ok { color:#DC0; }
.status-info { border-left:5px solid #DC0; background-color:#FFE; color:#DC0; margin:1rem 0; padding:1rem; }

.text-info { color:#777; }
.status-info { border-left:5px solid #777; background-color:#EEE; color:#777; margin:1rem 0; padding:1rem; }

.text-important { color:#369; }
.status-important { border-left:5px solid #369; background-color:#F0F8FF; color:#369; margin:1rem 0; padding:1rem; }

.text-white { color:#FFF; }
.bg-white { background-color:#FFF; margin:1rem 0; padding:1rem; }

.text-grey { color:#AAA; }
.bg-grey { background-color:#F5F5F5; }

.hide { display:none; }
.clear { clear:both; }
.center { text-align:center; }
.right { text-align:right; }
.padding { padding:1rem; }
.no-padding { padding:0; }
.margin { margin:1rem; }
.no-margin { margin:0; }
.smaller { font-size:90%; }
.bigger { font-size:110%; }
.transparent { opacity:0.2; }


/* CONTENT */

.rb-row { display:flex; margin:1rem 0; }
.rb-row .rb-row { margin:0.5rem 0; }

.rb-col { flex-grow:1; flex-basis:0; padding:0 1rem;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.rb-col:first-child { padding-left:2rem; }
.rb-col:last-child { padding-right:2rem; }

.rb-col-center { width:60%; margin:0 auto; }

.rb-col-2 { flex-grow:2; }
.rb-col-3 { flex-grow:3; }
.rb-col-4 { flex-grow:4; }
.rb-col-5 { flex-grow:5; }
.rb-col-6 { flex-grow:6; }

.rb-col h1,
.rb-col h2,
.rb-col h3,
.rb-col h4,
.rb-col h5,
.rb-col h6 { padding-left:0; padding-right:0; }


/* TABLE */

table { border-collapse:collapse; margin-bottom:1rem; width:100%; }
table p { margin:0; }
th { color:#777; font-weight:normal; padding:0.6rem; text-align:left; vertical-align:middle; }
td { padding:0.6rem; }
td.large { max-width:250px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

table.list tr:nth-of-type(even) td { background-color:#F5F5F5; }
table.list tr:hover td { background-color:#FFD; }
table.list th { border-bottom:2px solid #DDD; }
table.list td { border-bottom:1px solid #E5E5E5; }

table.compact th,
table.compact td { padding:0.3rem; }

tr.updating td { background-color:#FFC !important; }

table.dual th { background-color:#F5F5F5; border-bottom:1px solid #E5E5E5; text-align:right; width:20%; white-space:nowrap; }
table.dual td { border-bottom:1px solid #E5E5E5; }

table.triple th { background-color:#F5F5F5; border-bottom:1px solid #E5E5E5; text-align:center; width:20%; white-space:nowrap; }
table.triple td { border-bottom:1px solid #E5E5E5; }